<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Lançamento de Folha de Pagamento
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Principal</a></li>
            <li>Tab Aux</li>
            <li class="active"><a href="/folha">Folha Pag.</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">

                    <div class="box-header">
                        <a href="/folha/create" class="btn btn-success">Cadastrar Lançamento de Folha de Pagamento</a>
                        {if="$error != ''"}
                        <div class="alert alert-danger" role="alert">
                            {$error}
                        </div>
                        {/if}

                        <div class="box box-default">
                            <form role="form" action="/folha">
                                <div class="box-body">
                                    <div class="form-group col-md-2">
                                        <label for="Ano">Ano</label>
                                        <input type="text" class="form-control" id="Ano" name="Ano" placeholder="Ano" value="{$Ano}">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="Mes">Mes</label>
                                        <input type="text" class="form-control" id="Mes" name="Mes" placeholder="Mes" value="{$Mes}">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="CC">Centro Custo</label>
                                        <input type="text" class="form-control" id="CC" name="CC" placeholder="Centro de Custo" value="{$Cc}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="search">Texto</label>
                                        <input type="text" name="search" class="form-control pull-right" placeholder="Procurar" value="{$search}">
                                    </div>
                                    <div class="input-group-btn">
                                        <label>&nbsp;</label>
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="box-body no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Ano-CC</th>
                                <th>Centro de Custo</th>
                                <th>Evento</th>
                                <th>Descrção</th>
                                <th>Qtd</th>
                                <th>Valor</th>
                                <th>Item</th>
                                <th style="width: 70px">&nbsp;</th>
                            </tr>


                            {loop="$folha"}
                            <tr>
                                <td>{$value.Ano}/{$value.Mes}-{$value.id_CentroCusto}</td>
                                <td>{$value.CentroCusto}</td>
                                <td>{$value.Evento}</td>
                                <td>{$value.Descricao}</td>
                                <td>{$value.Qtd}</td>
                                <td>{$value.Valor}</td>
                                <td>{$value.DescItemCC}</td>
                                <td>
                                    <a href="/folha/{$value.idFolha}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>&nbsp;</a>
                                    <a href="/folha/{$value.idFolha}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>&nbsp;</a>
                                </td>
                            </tr>
                            {/loop}

                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            {loop="$pages"}
                            <li class="page-item {$value.status}"><a title = "{$value.title}" href="{$value.link}{$value.pagina}">{$value.title}</a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->