<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Lista de Grupos de Lançamento
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Principal</a></li>
            <li>Cadastro</li>
            <li class="active"><a href="/grupositem">GruposLanc</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Editar Grupo</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/grupositem/{$grupoitem.idGrupoItemCC}" method="post">
                        {if="$error != ''"}
                        <div class="alert alert-danger" role="alert">
                            {$error}
                        </div>
                        {/if}
                        <!-- Descrição -->
                        <div class="box-body">
                            <div class="form-group">
                                <label for="DescGrupoItemCC">Nome do Grupo</label>
                                <input type="text" class="form-control" id="DescGrupoItemCC" name="DescGrupoItemCC" placeholder="Digite o nome do grupo" value="{$grupoitem.DescGrupoItemCC}">
                            </div>
                        </div>
                        <!-- Conteúdo -->
                        <div class="box-body">
                            <div class="form-group">
                                <label for="GrupoItemConteudo">Descrição do Conteúdo</label>
                                <textarea class="form-control" id="GrupoItemConteudo" name="GrupoItemConteudo" rows="5"  placeholder="Digite a descrição do grupo">{$grupoitem.GrupoItemConteudo}</textarea>
                            </div>
                        </div>
                        <!-- Ordem -->
                        <div class="box-body">
                            <div class="form-group">
                                <label for="Ordem">Ordem de Exibição do Grupo</label>
                                <input type="text" class="form-control" id="Ordem" name="Ordem" placeholder="Digite a ordem de exibição" value="{$grupoitem.Ordem}">
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->