<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <!-- Cabeçalho -->
                    <tr><th colspan=9 style="line-height: 22px; font-size: 170%"><strong>Secretaria Municipal de Saúde - Americana/SP</strong></th></tr>
                    <tr><th colspan=9 style="line-height: 22px; font-size: 150%"><strong>Prefeitura Municipal de Americana</strong></th></tr>
                    <tr><th colspan=9 style="line-height: 22px; font-size: 150%"><strong>Estado de São Paulo</strong></th></tr>
                    <tr><th colspan=9 style="line-height: 22px; font-size: 150%"><strong>Unidade de Planejamento</strong></th></tr>
                    <tr><th colspan=9 style="line-height: 22px; font-size: 130%"><strong>Custos da Secretaria de Saúde - Custo por Setor</strong></th></tr>
                    <tr><th>&nbsp;</th></tr>
                    <!-- FIM Cabeçalho -->

                    <!-- Título do Centro de Custo -->
                    <tr>
                        <td colspan=9 style='border-bottom: 1px solid black;'><strong>CENTRO DE CUSTO: 0000 - XXXXXXXXXXX</strong></td>
                    </tr>
                    <!-- FIM Título do Centro de Custo -->

                    <!-- Título dos Meses -->
                    <tr>
                        <td></td>
                        <td align=right><b>01/2000</b></td>
                        <td align=right></td>
                        <td align=right><b>02/2000</b></td>
                        <td align=right></td>
                        <td align=right><b>03/2000</b></td>
                        <td align=right></td>
                        <td align=right><b>04/2000</b></td>
                        <td align=right></td>
                    </tr>
                    <!-- FIM Título dos Meses -->

                    <!-- Custos Diretos Título -->
                    <tr>
                        <td style='width: 30%'><b>CUSTOS DIRETOS </b></td>
                        <td style='width: 12%' align=right><b>Valor</b></td>
                        <td style='width: 5%' align=right><b>%</b></td>
                        <td style='width: 12%' align=right><b>Valor</b></td>
                        <td style='width: 5%' align=right><b>%</b></td>
                        <td style='width: 12%' align=right><b>Valor</b></td>
                        <td style='width: 5%' align=right><b>%</b></td>
                        <td style='width: 12%' align=right><b>Valor</b></td>
                        <td style='width: 5%' align=right><b>%</b></td>
                    </tr>
                    <!-- FIM Custos Diretos Título -->

                    <!-- Grupo de Lançamento -->
                    <tr>
                        <td colspan=9><b>Pessoal</b></td>
                    </tr>
                    <!-- FIM Grupo de Lançamento -->

                    <!-- Ítem de Lançamento por mês e % -->
                    <tr>
                        <td>Descrição do Item de Lançamento</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                    </tr>

                    <tr>
                        <td>Descrição do Item de Lançamento</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                    </tr>
                    <tr>
                        <td>Descrição do Item de Lançamento</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                    </tr>
                    <tr>
                        <td>Descrição do Item de Lançamento</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                    </tr>
                    <!-- FIM Ítem de Lançamento por mês e % -->

                    <!-- Total do Grupo -->
                    <tr>
                        <td align=left><b>TOTAL: </b></td>
                        <td align=right><b>999.999.999,99</b></td>
                        <td align=right><b>99,99</b></td>
                        <td align=right><b>999.999.999,99</b></td>
                        <td align=right><b>99,99</b></td>
                        <td align=right><b>999.999.999,99</b></td>
                        <td align=right><b>99,99</b></td>
                        <td align=right><b>999.999.999,99</b></td>
                        <td align=right><b>99,99</b></td>
                    </tr>
                    <!-- FIM Total do Grupo -->

                    <!-- OUTROS TESTE DE LAYOUT PARA ANALISAR -->
                    <!-- ==================================================== -->
                    <!-- ==================================================== -->
                    <!-- Grupo de Lançamento -->
                    <tr>
                        <td colspan=9><b>Material</b></td>
                    </tr>
                    <!-- FIM Grupo de Lançamento -->

                    <!-- Ítem de Lançamento por mês e % -->
                    <tr>
                        <td>Descrição do Item de Lançamento</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                    </tr>

                    <tr>
                        <td>Descrição do Item de Lançamento</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                    </tr>
                    <tr>
                        <td>Descrição do Item de Lançamento</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                    </tr>
                    <tr>
                        <td>Descrição do Item de Lançamento</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                        <td align=right>999.999.999,99</td>
                        <td align=right> 99,99</td>
                    </tr>
                    <!-- FIM Ítem de Lançamento por mês e % -->

                    <!-- Total do Grupo -->
                    <tr>
                        <td align=left><b>TOTAL: </b></td>
                        <td align=right><b>999.999.999,99</b></td>
                        <td align=right><b>99,99</b></td>
                        <td align=right><b>999.999.999,99</b></td>
                        <td align=right><b>99,99</b></td>
                        <td align=right><b>999.999.999,99</b></td>
                        <td align=right><b>99,99</b></td>
                        <td align=right><b>999.999.999,99</b></td>
                        <td align=right><b>99,99</b></td>
                    </tr>
                    <!-- FIM Total do Grupo -->
                    <!-- FIM OUTROS TESTE DE LAYOUT PARA ANALISAR -->
                    <!-- ==================================================== -->
                    <!-- ==================================================== -->

                    <!-- Total do Centro de Custo -->
                    <tr>
                        <td align=left><b>TOTAL CUSTOS DIRETOS: </b></td>
                        <td align=right><b>999.999.999,99</b></td>
                        <td align=right></td>
                        <td align=right><b>999.999.999,99</b></td>
                        <td align=right></td>
                        <td align=right><b>999.999.999,99</b></td>
                        <td align=right></td>
                        <td align=right><b>999.999.999,99</b></td>
                        <td align=right></td>
                    </tr>
                    <!-- FIM Total do Centro de Custo -->

                    <!-- Outros Lançamentos  -->
                    <!-- Outros Lançamentos  Titulo-->
                    <tr>
                        <td><strong>OUTROS LANÇAMENTOS </strong></td>
                    </tr>
                    <!-- FIM Outros Lançamentos  Título-->

                    <!-- Itens de Outros Lançamentos  -->
                    <tr>
                        <td align=left><b>Itens Outros Lançamento</b></td>
                        <td align=right><b>999.999.999</b></td>
                        <td align=right></td>
                        <td align=right><b>999.999.999</b></td>
                        <td align=right></td>
                        <td align=right><b>999.999.999</b></td>
                        <td align=right></td>
                        <td align=right><b>999.999.999</b></td>
                        <td align=right></td>
                    </tr>
                    <!-- FIM Itens de Outros Lançamentos  -->
                    <!-- FIM Outros Lançamentos  -->



                </table>
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->