<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <!-- Cabeçalho -->
                    <tr><th colspan=9 style="line-height: 22px; font-size: 170%"><strong>Secretaria Municipal de Saúde - Americana/SP</strong></th></tr>
                    <tr><th colspan=9 style="line-height: 22px; font-size: 150%"><strong>Prefeitura Municipal de Americana</strong></th></tr>
                    <tr><th colspan=9 style="line-height: 22px; font-size: 150%"><strong>Estado de São Paulo</strong></th></tr>
                    <tr><th colspan=9 style="line-height: 22px; font-size: 150%"><strong>Unidade de Planejamento</strong></th></tr>
                    <tr><th colspan=9 style="line-height: 22px; font-size: 130%"><strong>Custos da Secretaria de Saúde - Custo por Setor</strong></th></tr>
                    <tr><th>&nbsp;</th></tr>
                    <!-- FIM Cabeçalho -->

