<!-- Total GERAL -->
<tr>
    <td align=left><b>TOTAL GERAL CUSTOS DIRETOS: </b></td>
    <td align=right><b>{function="formatValor($tMes1)"}</b></td>
    <td align=right></td>
    <td align=right><b>{function="formatValor($tMes2)"}</b></td>
    <td align=right></td>
    <td align=right><b>{function="formatValor($tMes3)"}</b></td>
    <td align=right></td>
    <td align=right><b>{function="formatValor($tMes4)"}</b></td>
    <td align=right></td>
</tr>
<!-- FIM Total GERAL -->

</table>
</div>
</div>
</section>
</div>
<!-- /.content-wrapper -->