<div class="content-wrapper">

    <table class='table table-condensed table-hover' style='page-break-before: always;'>
        <thead>

            <tr>
        <div class="row text-center">
            <div class="col-md-2">
                <img src="/views/brasao.png" alt="brasao" width="100" height="110"/>
                <p style="line-height: 15px; font-size: 100%">Secretaria de Saúde</p>
                <p style="line-height: 10px; font-size: 100%">Americana</p>
            </div>
            <div class="col-md-8">
                <p style="line-height: 22px; font-size: 170%"><strong>Prefeitura Municipal de Americana</strong></p>
                <p style="line-height: 22px; font-size: 170%"><strong>Estado de São Paulo</strong></p>
                <p style="line-height: 22px; font-size: 170%"><strong>Unidade de Avaliação e Auditoria</strong></p>
                <p style="line-height: 20px; font-size: 150%"><strong>Produção Geral - Por Prestador</strong></p>
            </div>
            <div class="col-md-2">
                <br>
                <br>
                <br>
                <br>
                <p style="line-height: 15px; font-size: 120%"><strong>2099/99</strong></p>
            </div>
        </div>
        </tr>


        <tr class='Unidade'>
            <th colspan='8'><h2>Prestador: 9999999 - PRESTADORXXXXXXXXXX</h2></th>
        </tr>

        <tr>
            <th><b>Proc.</b></td>
            <th><b>Descrição</b></td>
            <th><b>Vl Un.</b></td>
            <th align=right><b>Qtd Apre</b></th>
            <th align=right><b>Val Apre</b></th>
            <th align=right><b>Qtd Apro</b></th>
            <th align=right><b>Val Apro</b></th>
        </tr>
        </thead>

        <tr class='Financiamento'>
            <td colspan='8'><h4>Financiamento: Fundo de Ações Estrategicas e Compensacão: 9999999</h4></td>
        </tr>
        <tr class='Grupo'>
            <td colspan='8'><b>Grupo: 9999 GRUPO XXXXXXXXX</b></td>
        </tr>";
        <tr class='SubGrupo'>";
            <td colspan='8'><b>Sub-Grupo: 999999 SUBGRUPO XXXXXX</b></td>
        </tr>
        <tr class='Forma'>
            <td colspan='8'><b>Organização: 9999999 ORGANIZAÇÃO XXXXXXX </b></td>
        </tr>


        <tr>
            <td>99999999999</td>
            <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
            <td align=right>999.999,99</td>
            <td align=right>999.999.999</td>
            <td align=right>999.999.999,99</td>
            <td align=right>999.999.999</td>
            <td align=right>999.999.999,99</td>
        </tr>




    </table>

</div>